/.ipynb_checkpoints
/cases related_to_cyber_crimes.csv
/Cyber War Presentation.pptx
/Cyber War.ipynb
/Cyber War.xlsx
/cyber_crimes.csv
/Cyber_War.pbix
/images
/impact_of_crime.csv
/invest_to_safety.csv
/~$Cyber War Presentation.pptx